<div class="grid-x align-bottom">
  <div class="medium-4 cell">
    <h4>Top Products</h4>
    <component name="cellgridtopproduct"></component>
    <component name="cellgridtopproduct"></component>
    <component name="cellgridtopproduct"></component>
  </div>
  <div class="medium-4 cell">
    <component name="cellgridtopproduct"></component>
    <component name="cellgridtopproduct"></component>
    <component name="cellgridtopproduct"></component>
  </div>
  <div class="medium-4 cell">
    <component name="cellgridtopproduct"></component>
    <component name="cellgridtopproduct"></component>
    <component name="cellgridtopproduct"></component>
  </div>
</div>
